
.logo { width: 300px; }
.image img { width: 60px; float: left; margin: 2px; }
.navbar-item { margin: 4px 6px; padding-top: 12px; }

.tag-source span a { color: #798897; }
.tag-source span a:hover { text-decoration: underline; color: #E6282B; }

.member:not(:last-child):after { padding: 5px; }
table.params { border: none; line-height: normal; }
table.params thead th { font-weight: bold; background: #dbdbdb; }
