
* {
	margin: 0;
	padding: 0;
}

html {
	font-family: sans-serif;
}

body {
	color: #000;
	background: #8e9eab; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


h1, h2, h3, h4, h5, h6 { margin-bottom: .5rem; }
hr { margin: 1rem 0; border: 0; border-top: 1px solid rgba(0,0,0,.1); }
img { vertical-align: middle; border-style: none; }

/* Container */
.container {
	margin: auto;
	padding: 2rem 1rem;
	margin-bottom: 2rem;
	background-color: #e9ecef;
	border-radius: .3rem;
	width: 90%;
}
/* Container */

/* Cards clases */
.card { border-left: 6px solid #1976D2; }
.card h1 { margin: 1em; color: #1976D2; border-bottom: 1px solid #1976D2; }

/* Specific styles */
.hide, .d-none { display: none; }
.mw-300 { width: 300px; max-width: 300px; }
.disabled { opacity: 0.5; pointer-events: none; text-decoration: none; }
.simple { background-color: transparent; border-color: transparent; text-decoration: none; }

.loading { position: fixed; left: 0px; top: 0px; width: 100%; height: 100%; z-index: 9; background-color: rgba(255, 255, 255, .8); display: none; }
.loading-content { position: absolute; top: 50%; left: 50%; text-align: center; z-index: 8; }

.back-to-top { position: fixed; bottom: 25px; right: 25px; display: none; padding: .5rem 1rem; font-size: 1.25rem; border-radius: .3rem; background-color: #f8f9fa; }
.back-to-top:hover { background-color: #e2e6ea; border-color: #dae0e5; }

/* Extra small devices (portrait phones, less than 576px) */
@media screen and (max-width: 575.98px) {
	.d-pc, .d-none-phone, .d-none-tablet { display: none; }
}
/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) and (max-width: 767.98px) {
	.d-pc, .d-none-phone, .d-none-tablet { display: none; }
}
/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
	.d-pc, .d-none-tablet, .d-phone { display: none; }
}
/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) and (max-width: 1199.98px) {
	.d-none-pc, .d-phone { display: none; }
}
/* Extra large devices (large desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
	.d-none-pc, .d-phone { display: none; }
}
