
body {
	color: #000;
	background: #8e9eab; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #eef2f3, #8e9eab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

label { font-weight: bold; display: block; margin: 2px; }
label.inline { font-weight: normal; display: inline-table; margin-right: 5px; }
label.required:after { color: #e32; content: " *"; }
fieldset { padding: 5px; margin-top: 5px; border-radius: 8px; }
fieldset label { font-weight: normal; display: inline; }
legend { padding: 4px; margin-left: 5px; font-weight: bold; }

/* Menu */
ul#menu { padding: 0; margin: 0; list-style: none; }
ul#menu li { display: none; position: relative; float: left; z-index: 9999; padding-right: 2px; /*border-right: 2px solid #2c3e50;*/ }
ul#menu li:last-child { border-right: none; }
/* This hides the dropdowns */
ul#menu li ul { display: none; padding: 0; border-left: 2px solid #2c3e50; }
ul#menu li a { display: block; text-decoration: none; white-space: nowrap; }
ul#menu li ul li { padding: 0; border-right: none; }
/* Display the dropdown */
ul#menu li:hover > ul { display: block; position: absolute; }
ul#menu li:hover li { float: none; display: block; }
ul#menu li:hover a { background: #f8f9fa; }
ul#menu li:hover a:hover { background: #2c3e50; color: #fff; }
ul#menu li:hover li a:hover { background: #2c3e50; }
/* Displays second level dropdowns to the right of the first level dropdown */
ul#menu ul ul { left: 99%; top: 0; }

/* Cards clases */
.card { border-left: 6px solid #1976D2; }
.card h1 { margin: 1em; color: #1976D2; border-bottom: 1px solid #1976D2; }

/* sPECIFIC STYLES */
.simple { background-color: transparent; border-color: transparent; text-decoration: none; }
.loading { position: fixed; left: 0px; top: 0px; width: 100%; height: 100%; z-index: 9999; background-color: rgba(255, 255, 255, .8); display: none; }
.loading-content { position: absolute; top: 50%; left: 50%; text-align: center; z-index: 100; }
.back-to-top { position: fixed; bottom: 25px; right: 25px; display: none;}

/* Extra small devices (portrait phones, less than 576px) */
@media screen and (max-width: 575.98px) {
	.d-none-phone-p, .d-none-phone-l, .d-none-tablet { display: none; }
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (min-width: 576px) and (max-width: 767.98px) {
	.d-none-phone-l, .d-none-tablet { display: none; }
}

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
	.d-none-tablet { display: none; }

	/*ul#menu li ul { display: none; padding: 0; margin-left: 2px; border-left: 2px solid #2c3e50; }
	ul#menu li a { display: block; text-decoration: none; white-space: nowrap; }
	ul#menu li ul li { padding: 0; border-right: none; }
	/* Display the dropdown */
	ul#menu li:hover > ul { display: none; }
	/*ul#menu li:hover li { float: none; display: block; }
	ul#menu li:hover a { background: #f8f9fa; }
	ul#menu li:hover a:hover { background: #2c3e50; color: #fff; }
	ul#menu li:hover li a:hover { background: #2c3e50; }
	/* Displays second level dropdowns to the right of the first level dropdown */
	/*ul#menu ul ul { display: block; }*/
}

/* Large devices (desktops, 992px and up) */
/* @media screen and (min-width: 992px) and (max-width: 1199.98px) {} */
/* Extra large devices (large desktops, 1200px and up) */
/* @media screen and (min-width: 1200px) {} */

@media print {
	@page { size: landscape; }
	* { color: #000; background-color: #fff; box-shadow: none; text-shadow: none; }
	input, textarea { border: 0; border-style: none; } /* remove inputs borders */
	::-webkit-input-placeholder { color: transparent; } /* WebKit browsers */
	:-moz-placeholder { color: transparent; } /* Mozilla Firefox 4 to 18 */
	::-moz-placeholder { color: transparent; } /* Mozilla Firefox 19+ */
	:-ms-input-placeholder { color: transparent; } /* Internet Explorer 10+ */
	a:after { content: " ("attr(href)")"; } /* add href text affter links */
	.no-print, ul#menu, .mbox, a.btn { display: none; }
	.only-print { display: block; }
	.break { page-break-after: always; }
}
